/* mobile first layout

color scheme: #457F30 - max sat
                #C2FFAC -white tone
                #89FF5F - min sat
                #617F56 - grey tone
                #6ECC4C - med sat

font scale -perfect fifth
        5.063em 
        2.25em 
        1.5em 
        1em 
        0.667em 
        0.444em 
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px;
    line-height:1.45;
    font-family: "Source Sans Pro",Helvetica, Calibri, sans-serif;
    font-weight: 400;
     min-width: 22.5rem;
    /*background-color: #C2FFAC;*/
}

.masthead{
    margin-top: 1.414rem;
    position: relative;
    height: 200px;
    background: #222 url("http://lorempixel.com/200/200/cats") no-repeat center top fixed;
    background-size: 100%;
}

p {margin-bottom: 1.3em;
    padding: 1rem;
}

h1, h2, h3, h4 {
  padding: 1rem;
  padding-top: 0;
  margin: 0 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.375rem;
  font-weight: 700; 
  color: #89FF5F;
  text-shadow: 1px 1px #000, -1px -1px #617F56;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h2 {font-size: 2.25rem;
    /*background-color: #C2FFAC;*/
    padding-left: 1rem;
    padding-right: 1rem;
}

h3 {font-size: 1.5rem;}

h4 {font-size: 1.5rem;}

small, .font_small {font-size: 0.667rem;}

img{
    display:block;
   width: 96%;
}

.mainnav ul{
  list-style:none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mainnav a,
.mainnav a:visited{
  text-decoration:none;
  display:block;
  font-size: 1.5rem;
  background-color: #457F30;
  color:#EEE;
  text-align:center;
}

.mainnav a:hover,
.mainnav a:active{
  background-color: #C2FFAC;
  color:#333;
}

li{
}

.footer{
    font-size: 0.667rem;
}

/* larger fonts sizes for larger layouts*/
 @media all and (min-width: 35rem){
     
     /* reduce whitespace */
     h1, h2, h3, h4 {
  padding-bottom: 0;
     }

    .mainnav ul{
        padding-top: 0;
        padding-bottom: 0;
    }
     
     h1{
        font-size: 5.063rem;
    }

    h2 {
        font-size: 3.375rem;
    }

    h3 {font-size: 2.25rem;}

    h4 {font-size: 1.5rem;}
 }

/*med layout*/

@media all and (min-width: 35rem) and (max-width: 60rem) {
    
    .footer p{
    clear: both;
    }
    
    .primary{
        display: inline-block;
        width: 63%;
        float: left;
        /*padding: 2rem;*/
    }
    .side{
        display: inline-block;
        width: 37%;
        float: right;
        /*background-color: #C2FFAC;*/
        /*padding: 2rem;*/
    }
    
    nav li{
        display: inline-block;
        float: left;
        width: 25%;
        padding-top: .667rem;
        padding-bottom: .667rem;
    }

}

/*correct for nav links at smaller display sizes taking up two lines of text*/

@media all and (min-width: 35rem) and (max-width: 45rem){
    .mainnav a, .mainnav a:visited{
  
        font-size: 1rem;
    }
}


/*largest layout*/
@media all and (min-width: 60rem) {
    
    .masthead{
        margin-top: 0;
        margin-left: -2rem;
        margin-right: -2rem;
        position: relative;
        height: 200px;
        background: #222 url("http://lorempixel.com/800/200/cats") no-repeat center top fixed;
        background-size: 100%;
    }
    
    nav li{
        display: block;
    }
    
    .mainnav{
        padding-top: 1rem;
        margin-left: -1rem;
        float:left;
        width: 25%;
        height: 100%;
    }
    
    body{
        position: relative;
    }
    
    section{
        padding-top: 1rem;
      width:50%;
      float:left;
    }
    
    .primary
        {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
         column-count: 2;

        -webkit-column-gap: 1rem; /* Chrome, Safari, Opera */
        -moz-column-gap: 1rem; /* Firefox */
        column-gap: 1rem;

    }
    
    .side{
        display: inline-block;
        width: 25%;
        float: right;
        /*background-color: #C2FFAC;*/
        padding: 1rem;
    }
    
    
    aside p{
        font-size: .75rem
    }
    
    aside h3{
        font size: 1.5rem
    }
    
    .footer p{
        max-width: 1600px;
        clear: both;
    }
}

/* don't show masthead and nav for print pages*/
@media print {
    .masthead{
        display: none;
    }
    
    .mainnav{
        display: none;
    }
    
}